# Ignorar ficheiros temporários do CLion e CMake
cmake-build-debug/
*.json
*.log
*.cache
*.idea/
*.ninja
*.cmake
*.exe
cache-v2*
*.iml
*.yaml
LastTest.log
clion-Debug-log.txt

# Ignorar ficheiros gerados por CMake
CMakeLists.txt.user